<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item fill="solid">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
    <ion-note slot="helper">Enter a valid email</ion-note>
    <ion-note slot="error">Invalid email</ion-note>
  </ion-item>

  <ion-item fill="solid">
  <ion-label position="floating">Senha</ion-label>
    <ion-input type="email"></ion-input>
    <ion-note slot="helper">Enter a valid password</ion-note>
    <ion-note slot="error">Invalid email</ion-note>
  </ion-item>

  <div class="center">
    <ion-button shape="round" color="success" size="default" routerLink="/tabs/tab1">entrar</ion-button>
    <ion-button  shape="round" color="secondary"size="default">esqueceu a senha</ion-button>
    <ion-button shape="round" color="tertiary" size="default" routerLink="/registro">registrar</ion-button>
    <ion-button  shape="round" color="light" size="default" routerLink="/tabs/tab1">voltar</ion-button>

  </div>
</ion-content>
